body {
    background-color: rgb(66, 175, 58);
}

#div1 {
    text-align: center;
    background-color: chartreuse; 
    width: 50%;
    padding: 20px;
}

#div2 {
    text-align: center;
    background-color: magenta;
    margin: 5px;
    padding: 10px;
}
#div3 {
    text-align: center;
    background-color: cyan;
    margin: 5px;
    padding: 1px;
}
/* #testVid {
    height: 360px;
    width: 640px;
} */

#dropZone {
    background-color: darkgreen;
    border: solid black 2px;
    width: 200px;
    height: 200px;
    padding: 5px;
    margin: 10px;
    
}

#dragMe {
    
    border-radius: 15px;
    height: 200px;
    width: 200px;
}

#coords {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    justify-content: center;
    text-shadow:1px 1px black;
    color: rgb(191, 248, 219);
    height: 60px;
    width: 300px;
    border: solid rgb(191, 248, 219);
    border-radius: 15px;
    box-shadow: 2px 2px black;
}