body {
       
    /* color: white; */
    
}

h1 {
    text-decoration: underline;
    color: darkorange;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    background-color: darkslategray;
    text-align: center;
    border-bottom: solid white 2px;
  
    
}

h2 {
    text-decoration: underline;
    color: rgb(116, 124, 197);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    margin: 10px;
    background-color: darkmagenta;
    text-align: center;
    border: solid goldenrod 5px;
    border-radius: 10px;
  
    
}

.test {
    padding: 20px;
    font-style: italic;
}

#test {
    font-size: 40px;
    color: darkcyan;
}

.row {
background-image: url(../media/images/link2.png);
background-repeat: repeat-x;
width: 50%;
height: 20px;
border: solid black 2px;
margin-bottom: 10px;
}

.col {
    background-image: url(../media/images/link.png);
    background-repeat: repeat-y;
    width: 20px;
    height: 100px;
    border: solid black 2px;
    margin-left: 20px;
}

.gif {
    background-image: url(../media/images/smile.gif);
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
    border: solid black 2px;
    margin: 20px;
    box-shadow: 4px 8px 2px 2px;
}